@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import './vars.scss';

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 32px;
}

p {
    color: $sub_text;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

// COMMON

.container {
    width: 65%;
    margin: 0 auto;
}

.big-container {
    width: 80%;
    margin: 0 auto;
}


section {
    margin: 150px 0;
}
